@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

* a:hover {
  opacity: 0.3;
}

* li {
  list-style: none;
}

/* // でコメントアウトするとコンパイル後cssに残らない */
@media (min-width: 769px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  header > nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header > nav > div {
    background-color: #393e46;
    margin: 12px 12px;
  }
  header > nav > div a {
    display: block;
    background-color: #393e46;
    padding: 5px 15px;
  }
  header > nav > div a h1 {
    color: white;
  }
  header > nav > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header > nav > ul li:last-child {
    margin: 0 20px 0 5px;
  }
  header > nav > ul li a {
    padding: 10px 15px;
    color: black;
    font-size: .8em;
  }
  header > div {
    background-image: url("img/about-koremade.png");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 0px;
    height: 600px;
  }
}

@media (max-width: 768px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  header > nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header > nav > div {
    background-color: #393e46;
    margin: 12px 12px;
  }
  header > nav > div a {
    display: block;
    background-color: #393e46;
    padding: 5px 15px;
  }
  header > nav > div a h1 {
    color: white;
  }
  header > nav > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header > nav > ul li:last-child {
    margin: 0 20px 0 5px;
  }
  header > nav > ul li a {
    padding: 10px 15px;
    color: black;
    font-size: .8em;
  }
  header > div {
    background-image: url("img/about-koremade.png");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 0px;
    height: 600px;
  }
}

@media (max-width: 640px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  header > nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header > nav > div {
    background-color: #393e46;
    margin: 12px 12px;
  }
  header > nav > div a {
    display: block;
    background-color: #393e46;
    padding: 5px 15px;
  }
  header > nav > div a h1 {
    color: white;
  }
  header > nav > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header > nav > ul li:last-child {
    margin: 0 20px 0 5px;
  }
  header > nav > ul li a {
    padding: 10px 15px;
    color: black;
    font-size: .8em;
  }
  header > div {
    background-image: url("img/about-koremade.png");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 0px;
    height: 600px;
  }
}

@media (min-width: 769px) {
  main section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    padding: 30px 0;
  }
  main section > div.inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main section > div.inner h2 {
    line-height: 5em;
  }
  main section > div.inner content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  main #sec1 .content > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  main #sec1 .content > div > div:first-child img {
    width: 100px;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
  main #sec1 .content > div > div:last-child {
    width: 60%;
  }
  main #sec1 .content > div > div:last-child h3, main #sec1 .content > div > div:last-child p {
    display: block;
  }
  main #sec2 .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  main #sec2 .content > div {
    width: 30%;
    padding: 15px;
  }
  main #sec2 .content > div h3, main #sec2 .content > div p {
    display: block;
  }
  main #sec2 .content > div img {
    width: 100%;
  }
}

@media (max-width: 768px) {
  main section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    padding: 30px 0;
  }
  main section > div.inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main section > div.inner h2 {
    line-height: 5em;
  }
  main section > div.inner content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  main #sec1 .content > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  main #sec1 .content > div > div:first-child img {
    width: 100px;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
  main #sec1 .content > div > div:last-child {
    width: 60%;
  }
  main #sec1 .content > div > div:last-child h3, main #sec1 .content > div > div:last-child p {
    display: block;
  }
  main #sec2 .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  main #sec2 .content > div {
    width: 30%;
    padding: 15px;
  }
  main #sec2 .content > div h3, main #sec2 .content > div p {
    display: block;
  }
  main #sec2 .content > div img {
    width: 100%;
  }
}

@media (max-width: 640px) {
  main section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    padding: 30px 0;
  }
  main section > div.inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main section > div.inner h2 {
    line-height: 5em;
  }
  main section > div.inner content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  main #sec1 .content > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  main #sec1 .content > div > div:first-child img {
    width: 100px;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
  main #sec1 .content > div > div:last-child {
    width: 60%;
  }
  main #sec1 .content > div > div:last-child h3, main #sec1 .content > div > div:last-child p {
    display: inline-block;
  }
  main #sec2 .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  main #sec2 .content > div {
    width: 100%;
    padding: 15px;
  }
  main #sec2 .content > div h3, main #sec2 .content > div p {
    display: inline-block;
  }
  main #sec2 .content > div img {
    width: 100%;
  }
}

footer {
  text-align: center;
  line-height: 7em;
}
/*# sourceMappingURL=1column.css.map */